@import 'tailwindcss';

/* https://catppuccin.com/palette/ */
@theme {
  --font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;

  --color-app-mantle: #e6e9ef;
  --color-app-mantle-dark: #181825;
  --color-app-base: #eff1f5;
  --color-app-base-dark: #1e1e2e;
  --color-app-surface: #ccd0da;
  --color-app-surface-dark: #313244;
  --color-app-overlay: #9ca0b0;
  --color-app-overlay-dark: #6c7086;
  --color-app-text: #4c4f69;
  --color-app-text-dark: #cdd6f4;
  --color-app-subtext: #6c6f85;
  --color-app-subtext-dark: #a6adc8;
  --color-app-border: #4c4f6914;
  --color-app-border-dark: #cdd6f414;
  --color-app-accent: #808080;
  --color-app-tip: #10834a;
  --color-app-tip-dark: #54b03d;
  --color-app-info: #005ef4;
  --color-app-info-dark: #52a6f4;
  --color-app-warning: #b56e0b;
  --color-app-warning-dark: #f5ce0b;
  --color-piano-white: #ffffff;
  --color-piano-white-active: #bcc0cc;
  --color-piano-black: #000000;
  --color-piano-black-active: #45475a;
  --color-score-highlight: #16a34a;
}

:root {
  font: 18px/145% var(--font-sans);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  border: none;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.abcjs-highlight {
  fill: var(--color-score-highlight) !important;
  stroke: var(--color-score-highlight) !important;
}

@media print {
  @page {
    margin: 4mm;
  }

  :root {
    color-scheme: light;
  }

  #root *:not(:has(#abcjs-paper)):not(#abcjs-paper):not(#abcjs-paper *) {
    display: none !important;
  }

  #root *:has(#abcjs-paper),
  #abcjs-paper {
    display: block !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    gap: 0 !important;
    border: 0 !important;
    background: #ffffff !important;
    color: #000000 !important;
    box-shadow: none !important;
  }
}
